
    h1{
        font-size: 50px;
        color: rgb(237, 242, 243);
        font-style: italic;
        text-align: center;
    }
    body{
        background-image: url('https://wallpaperaccess.com/full/3990505.jpg');
        background-size: cover;
    }
    .a{
        background-color: rgb(219, 243, 239);
        width: 80%;
        margin-left: 100px;
        padding: 10px;
    }
    .b
    {
        width: 50%;
         margin-top: -400px;
        margin-left: 520px;
        font-size: 20px;
    }
.e{
    height: 400px;
    width: 500px;
    margin-top: 20px;
}
